body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.hidden {
    visibility: hidden;
}



.not-home {
    padding-top: 40px;

    h1 {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .install-button {
        float: right;
        margin-top: 15px;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, #4F5896, #313760);
    margin-bottom: 60px;
    border-bottom: 1px solid #e6e6e6;
}

.header__inner {
    padding: 0 60px;
    padding-top: 40px;
    max-width: 1000px;
    flex-grow: 1;

    video {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: block;
    }

    img {
        display: block;
        margin: 0;
        border-radius: 6px 6px 0 0;
        filter: drop-shadow(2px -4px 4px rgba(0, 0, 0, 0.3));
    }

    h1, h2 {
        color: #FFF;
    }


    h1 {
        font-size: 3.8em;
        font-weight: normal;

        margin-top: 0;
        margin-bottom: 0;
    }

    .goal-text {
        font-size: 2em;
        font-weight: 300;
        margin-top: 0;
    }

    img {
        width: 100%;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content__inner {
    padding: 0 60px;
    min-height: 100%;
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
}

.main-description {
    font-size: 26px;
}

.main-description span {
    background-color: #ffdf00;
}

h1 {
    font-size: 3.8em;
    font-weight: 200;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    font-weight: normal;
}

.key-features h3 {
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 0 0;
}

.key-features p {
    margin-top: 6px;
    margin-bottom: 34px;
}

h3.goal-text {
    font-size: 1.5em;
    margin-bottom: 40px;
}


p {
    margin-top: 0.2em;
}

.install-button {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #0066FF;
    color: #FFF;
    border-radius: 6px;
    padding: 12px;
    font-size: 22px;
    text-decoration: none;
    margin-bottom: 46px;
}

.install-button:hover, .install-button:active {
    background-color: #0056d6;
}

.footer {
    font-size: 16px;
    padding: 40px 0;
}

.footer a {
    padding-left: 20px;
}

.footer hr {
    margin-bottom: 26px;
}

/** START guide.html */

.guide-block {
    display: flex;
    padding: 80px 60px;
    background-color: beige;
}

.guide-block video {
    border: 1px solid #bbb;
}

.guide-block .text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
    font-weight: 200;
}

/** END guide.html */

.faq h3, .toby h3  {
    margin-top: 44px;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 8px;
}