.canvas-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.widgets-selection-frame {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid rgba(56, 89, 255, 1);
    box-sizing: border-box;
}

.widget-sticker {
    position: absolute;
    top: 480px;
    left: 160px;
    width: 180px;
    min-height: 180px;
    height: fit-content;
    border: 2px solid transparent;

    &.selected .widget-sticker-bg {
        border: 1px solid #0066FF;
        box-sizing: border-box;
    }

    .widget-sticker-text {
        position: relative;
        top: 0;
        width: 100%;
        padding: 12px;
        font-size: 18px;
        box-sizing: border-box;
        min-height: 180px;
        color: rgb(5, 0, 56);
    }

    div.widget-sticker-text {
        cursor: default;
        white-space: pre-wrap;
        word-wrap: break-word;
        user-select: none;
    }

    textarea.widget-sticker-text {
        display: block;
        background-color: transparent;
        resize: none;
        border: none;
        outline: none;
        cursor: text;
        word-wrap: break-word;
        overflow-y: clip;
    }

    .widget-sticker-bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.04));
    }

    .widget-sticker-shadow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("./sticker-bg.png");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: contain;
        transform: translateX(6%);
    }
}

.toolbar-wrapper {
    pointer-events: none;
    position: fixed;
    z-index: 1;
    display: flex;
    bottom: 4px;
    width: 100%;
    justify-content: center;
    left: 0;
    right: 0;
    /*padding-left: 360px;*/
    box-sizing: border-box;
}

.collapsible-sidebar .toolbar-wrapper {
    padding-left: 0;
}

.toolbar {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 48px;
    padding: 0 4px;
    border-radius: 8px;
    background-color: var(--popup-background-color);
    filter: drop-shadow(2px 0px 8px rgba(0, 0, 0, 0.1));

    .dropdown-menu__anchor {
        left: 0;
    }
}

.toolbar-button {
    width: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: no-repeat;
    cursor: pointer;

    svg {
        opacity: 0.7;
    }

    &:hover, &.active {
        svg {
            color: var(--active-control-color);
            opacity: 1;
        }
    }
}

.widgets-hor-menu {
    transform: translateX(-50%);
    display: none;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 142px;
    height: 40px;
    background-color: #1E1E1E;
    border-radius: 8px;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.2));
}

.widget-menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: none;

    &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    &.disabled {
        pointer-events: none;

        svg {
            opacity: 0.3;
        }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }

    &.sticker-color {
        width: 48px;

        .sticker-color__inner {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, transparent 100%), conic-gradient(from 0deg at 50% 50%, red, #ffa800 47.73deg, #ff0 79.56deg, #0f0 121.33deg, #0ff 180.99deg, #00f 238.67deg, #f0f 294.36deg, red 360deg), #c4c4c4;
        }
    }

    &.sticker-size {
        width: 50px;
        box-sizing: border-box;

        span {
            color: #d8d8d8;
            font-size: 18px;
        }
    }

    &.sticker-strike {
        width: 48px;

        svg {
            color: #d8d8d8;
        }
    }

    &.active {
        background-color: rgba(255, 255, 255, 0.1) !important;

        svg {
            color: #fff;
        }
    }
}

