:root {
    /* Light Theme Variables */
    --main-text-color: rgb(5, 0, 56);
    --section-text-color: #0066FF;
    --active-text-color: #0066FF;
    --second-text-color: rgba(5, 0, 56, 0.6);
    --background-color: #F7F7F6;
    --popup-background-color: #ffffff;
    --dropdown-background-color: #ffffff;
    --dropdown-border1-color: #ffffff;
    --dropdown-border2-color: transparent;
    --border-color: #e2e2e2;
    --input-background-color: #FFFFFF;
    --input-border-color: rgba(0, 0, 0, 0.16);
    --input-border-color-active: rgba(0, 0, 0, 0.4);
    --button-background-color: #FAFBFC;
    --button-border-color: rgba(0, 0, 0, 0.16);
    --button-hover-background-color: #F3F4F6;
    --button-active-background-color: #EDEFF2;
    --button-text-color: #24292E;
    --notification-background-color: #000;
    --notification-text-color: #fff;
    --active-control-color: #0066FF;
    --active-control-text: #fff;
    --icon-color: #000;

    --colors-gray-100: #fafafa;
    --colors-gray-200: #f2f2f2;
    --colors-gray-300: #e7e7e7;
    --colors-gray-400: #d8d8d8;
    --colors-gray-500: #c4c4c4;
    --colors-gray-600: #a9a9a9;
    --colors-gray-700: #878787;
    --colors-gray-800: #5e5e5e;
    --colors-gray-900: #303030;

    --colors-blue-100: #f1f3fd;
    --colors-blue-200: #d9e0ff;
    --colors-blue-300: #b5c0eb;
    --colors-blue-400: #95a4eb;
    --colors-blue-500: #6881ff;
    --colors-blue-600: #3859ff;
    --colors-blue-700: #3f53d9;
    --colors-blue-800: #2436b1;
    --colors-blue-900: #122277;

    --colors-red-100: #fbf4f5;
    --colors-red-200: #f4d8db;
    --colors-red-300: #f4b5bb;
    --colors-red-400: #f6909b;
    --colors-red-500: #ff6575;
    --colors-red-600: #c73847;
    --colors-red-700: #982c38;
    --colors-red-800: #661b24;
    --colors-red-900: #330b10;

    --colors-green-100: #d8f9c9;
    --colors-green-200: #b0f297;
    --colors-green-300: #89e86a;
    --colors-green-400: #65d945;
    --colors-green-500: #48c529;
    --colors-green-600: #30aa15;
    --colors-green-700: #1e8908;
    --colors-green-800: #1f5f02;
    --colors-green-900: #153000;

    --scrollbar-width: 12px;
}

.dark-theme {
    /* Dark Theme Variables */
    --main-text-color: #fff;
    --section-text-color: rgba(220, 220, 220, 0.6);
    --active-text-color: #667788;
    --second-text-color: rgba(220, 220, 220, 0.6);
    --background-color: #2C2C2C;
    --popup-background-color: #1E1E1E;
    --dropdown-background-color: #2C2C2C;
    --dropdown-border1-color: #494747;
    --dropdown-border2-color: #000;
    --border-color: #333;
    --input-background-color: #333;
    --input-border-color: #555;
    --button-background-color: #333;
    --button-border-color: #444;
    --button-hover-background-color: #444;
    --button-active-background-color: #555;
    --button-text-color: #ddd;
    --notification-background-color: #444;
    --notification-text-color: #ddd;
    --active-control-color: #FFF;
    --active-control-text: #1E1E1E;
    --icon-color: #909090;

    --colors-gray-100: #303030;
    --colors-gray-200: #3c3c3c;
    --colors-gray-300: #484848;
    --colors-gray-400: #545454;
    --colors-gray-500: #606060;
    --colors-gray-600: #6c6c6c;
    --colors-gray-700: #787878;
    --colors-gray-800: #848484;
    --colors-gray-900: #909090;

    --colors-blue-100: #223344;
    --colors-blue-200: #334455;
    --colors-blue-300: #445566;
    --colors-blue-400: #556677;
    --colors-blue-500: #667788;
    --colors-blue-600: #3859ff;
    --colors-blue-700: #3f53d9;
    --colors-blue-800: #2436b1;
    --colors-blue-900: #122277;

    --colors-red-100: #442222;
    --colors-red-200: #553333;
    --colors-red-300: #664444;
    --colors-red-400: #775555;
    --colors-red-500: #886666;
    --colors-red-600: #997777;
    --colors-red-700: #aa8888;
    --colors-red-800: #bb9999;
    --colors-red-900: #ccaaaa;

    --colors-green-100: #224422;
    --colors-green-200: #335533;
    --colors-green-300: #446644;
    --colors-green-400: #557755;
    --colors-green-500: #668866;
    --colors-green-600: #779977;
    --colors-green-700: #88aa88;
    --colors-green-800: #99bb99;
    --colors-green-900: #aacccc;
}

/* General styles */
html,
body,
.app,
#root {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    color: var(--main-text-color);
    background-color: var(--background-color);
    font-family: 'OpenSans', sans-serif;
}

input, button, textarea {
    font-family: 'OpenSans', sans-serif;
}

button {
    color: var(--main-text-color);
}

input[type="text"], input[type="search"], textarea {
    color: var(--main-text-color);
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
}

svg {
    color: var(--icon-color);
}

/* Hide the scrollbar on macOS-like behavior */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    transition: background-color 0.3s ease;

    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.searched {
    background-color: #f0f000;
}


@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/************************************************
 *
 * BUTTONS
 *
 ************************************************/


.btn__icon {
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;

    svg {
        opacity: 0.7;
    }

    &:hover {
        svg {
            opacity: 1;
        }
    }

    &.active {
        svg {
            color: var(--active-control-color);
            opacity: 1;
        }
    }

    &:disabled {
        svg {
            opacity: 0.2 !important;
        }

        cursor: default;
    }
}

.btn__setting {
    appearance: none;
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    height: 36px;
    color: var(--button-text-color);
    display: inline-block;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 5px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: var(--button-hover-background-color);
        text-decoration: none;
    }

    &:active {
        background-color: var(--button-active-background-color);
    }

    &.btn__setting--active {
        background-color: #bebebe;
    }

    &[disabled] {
        color: var(--colors-gray-600);
        background-color: var(--colors-gray-200);
        pointer-events: none;
    }
}


.btn__setting.primary {
    color: #fff;
    background-color: var(--colors-blue-600);

    &:hover {
        background-color: var(--colors-blue-700);
        text-decoration: none;
    }

    &:active {
        background-color: var(--colors-blue-800);
    }

    &:focus {
        outline: 1px solid var(--colors-gray-900);
    }

    &[disabled] {
        color: var(--colors-gray-600);
        background-color: var(--colors-gray-200);
        pointer-events: none;
    }
}

.btn__setting.borderless {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;

    &:hover, &:active {
        background-color: var(--button-background-color);
        border: 1px solid var(--button-border-color);
    }
}

